//全局变量
$blue: #1DA1F2;
$lightblue: #4BACD2;
$lightlightblue: #E8F4F9;
$active: #1f98c7;
$gray: #66757f;
$lightgray: #e6ecf0;
$white: #FFFFFF;

$content-max-width: 1000px;
$content-mobile-width: 1000px;